<a href="https://colab.research.google.com/github/HermitCrab07/Impact_of_HbA1c_on_Readmission_Rates/blob/main/_3_CrossTabs_of_Diabetes_Data_for_Causal_Inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---
CROSS TABULATIONS OF FEATURES


---

In [1]:
# Beata Strack, Jonathan P. DeShazo, Chris Gennings, Juan L. Olmo, Sebastian Ventura, Krzysztof J. Cios, and John N. Clore
# Impact of HbA1c Measurement on Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records
# BioMed Research International, vol. 2014, Article ID 781670, 11 pages, 2014.
# Dataset was downloaded from UCI Machine Learning Repository.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Analysis_Diabetes_Dataset_CausalInference/reanalysis_diabetes_dataset.csv')
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,Treatment,Insured,Readmission
count,7.151800e+04,7.151800e+04,71518.000000,71518.000000,71518.000000,71518.00000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000,71518.000000
mean,1.568156e+08,5.505160e+07,2.100254,3.593235,5.657457,4.28913,43.075478,1.430577,15.705025,0.280069,0.103540,0.177829,7.245700,0.215163,0.565941,0.398962
std,1.003769e+08,3.947573e+07,1.508301,5.269771,4.162580,2.94921,19.952338,1.759864,8.311163,1.068957,0.509187,0.603790,1.994674,0.410938,0.495636,0.489688
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.00000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,8.145807e+07,2.337577e+07,1.000000,1.000000,1.000000,2.00000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000
50%,1.440574e+08,4.816680e+07,1.000000,1.000000,7.000000,3.00000,44.000000,1.000000,14.000000,0.000000,0.000000,0.000000,8.000000,0.000000,1.000000,0.000000
75%,2.155513e+08,8.752222e+07,3.000000,3.000000,7.000000,6.00000,57.000000,2.000000,20.000000,0.000000,0.000000,0.000000,9.000000,0.000000,1.000000,1.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.00000,132.000000,6.000000,81.000000,42.000000,42.000000,12.000000,16.000000,1.000000,1.000000,1.000000

In [3]:
# Calculate group means for 'num_lab_procedures'
group_means = df.groupby('Group')[['num_lab_procedures', 'num_procedures', 'num_medications', 'time_in_hospital']].mean()

# Format the output using DataFrame.map (to avoid FutureWarning)
for col in ['num_lab_procedures', 'num_procedures', 'num_medications']:
    group_means[col] = group_means[col].map(lambda x: f"{x:.2f}")

# Print the formatted group means
print("Group Means for num_lab_procedures:")
print(group_means)

Group Means for num_lab_procedures:
          num_lab_procedures num_procedures num_medications  time_in_hospital
Group
Control                40.54           1.46           15.65          4.180973
Treatment              52.33           1.32           15.90          4.683650

In [4]:
df['metformin'].describe()

count     71518
unique        4
top          No
freq      56527
Name: metformin, dtype: object

In [5]:
df['readmitted'].describe()

count     71518
unique        3
top          NO
freq      42985
Name: readmitted, dtype: object

In [6]:
df['payer_code'].isna().sum()

np.int64(0)

In [28]:
df['payer_code'].describe()

count     71518
unique       18
top           ?
freq      31043
Name: payer_code, dtype: object

In [30]:
df['payer_code'].value_counts()

payer_code
?     31043
MC    20414
HM     4022
BC     3432
SP     3347
MD     2197
CP     1986
UN     1879
CM     1334
OG      658
PO      463
DM      374
CH      117
WC      117
OT       65
SI       37
MP       32
FR        1
Name: count, dtype: int64

In [7]:
# Specify covariates and group column
cat_cov = ['race', 'diabetesMed', 'insulin', 'change', 'gender']
group_col = 'Group'

# Calculate cross-tabulation with percentages
for covariate in cat_cov:
    cross_tab = pd.crosstab(df[group_col], df[covariate], normalize='index') * 100  # Calculate percentages within groups
    print(f"\nGroup Percentages for {covariate}:")
    print(cross_tab.to_string(float_format="{:.2f}%".format))  # Format and print

Group Percentages for race:
race          ?  AfricanAmerican  Asian  Caucasian  Hispanic  Other
Group
Control   2.72%           17.44%  0.67%     75.69%     1.89%  1.60%
Treatment 2.75%           20.15%  0.79%     71.54%     2.95%  1.83%

Group Percentages for diabetesMed:
diabetesMed     No    Yes
Group
Control     25.80% 74.20%
Treatment   17.67% 82.33%

Group Percentages for insulin:
insulin     Down     No  Steady     Up
Group
Control    9.47% 51.52%  30.51%  8.49%
Treatment 14.23% 39.00%  32.51% 14.26%

Group Percentages for change:
change        Ch     No
Group
Control   42.32% 57.68%
Treatment 53.74% 46.26%

Group Percentages for gender:
gender     Female   Male  Unknown/Invalid
Group
Control    53.72% 46.28%            0.01%
Treatment  51.17% 48.83%            0.00%

In [10]:
import scipy.stats as stats

covariates_duringencounter = ['num_lab_procedures', 'change', 'diabetesMed', 'insulin', 'num_procedures', 'num_medications', 'number_emergency', 'number_diagnoses', 'readmitted']

for covariate in covariates_duringencounter:
    # Separate data for Treatment and Control groups
    treatment_data = df[df['Group'] == 'Treatment'][covariate]
    control_data = df[df['Group'] == 'Control'][covariate]

    if pd.api.types.is_numeric_dtype(df[covariate]):  # Check if covariate is numeric (continuous)
        # Perform t-test
        t_statistic, p_value = stats.ttest_ind(treatment_data, control_data)
        print(f"T-test for {covariate}: t-statistic = {t_statistic:.2f}, p-value = {p_value:.3f}")
    else:  # Covariate is categorical
        # Create contingency table
        contingency_table = pd.crosstab(df['Group'], df[covariate])

        # Perform chi-square test
        chi2_statistic, p_value, dof, expected = stats.chi2_contingency(contingency_table)
        print(f"Chi-square test for {covariate}: chi2-statistic = {chi2_statistic:.2f}, p-value = {p_value:.3f}")

T-test for num_lab_procedures: t-statistic = 66.91, p-value = 0.000
Chi-square test for change: chi2-statistic = 635.98, p-value = 0.000
Chi-square test for diabetesMed: chi2-statistic = 436.34, p-value = 0.000
Chi-square test for insulin: chi2-statistic = 1077.55, p-value = 0.000
T-test for num_procedures: t-statistic = -8.92, p-value = 0.000
T-test for num_medications: t-statistic = 3.24, p-value = 0.001
T-test for number_emergency: t-statistic = 1.93, p-value = 0.054
T-test for number_diagnoses: t-statistic = -0.50, p-value = 0.620
Chi-square test for readmitted: chi2-statistic = 460.41, p-value = 0.000

In [11]:
# Subset the DataFrame (opposite of the original condition)
opposite_subset_df = df[~(df['A1Cresult'] == '>7') | (df['A1Cresult'] == '>8') | (df['A1Cresult'] == 'Norm')]
opposite_subset_df['discharge_disposition_id'].value_counts()
df['discharge_disposition_id'].value_counts()

discharge_disposition_id
1     44317
3      8784
6      8289
18     2474
2      1539
22     1410
11     1077
5       913
25      778
4       541
7       409
23      260
13      243
14      218
28       90
8        73
15       40
24       25
9         9
17        8
19        6
10        6
27        3
16        3
12        2
20        1
Name: count, dtype: int64

In [12]:
# Crosstab between diabetesMed and medication

cross_tab = pd.crosstab(df['diabetesMed'], df['change'])

# Number of emergency visits of the patient in the year preceding the encounter - important?
# Convert to string with better formatting
formatted_cross_tab = cross_tab.to_string(
     formatters={'col_name': lambda x: f'{x:.2f}'}
)

# Use background gradient for better visualization - just to make it more attractive
styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

# Display the styled cross-tabulation
display(styled_cross_tab)

In [13]:
# Crosstab between diabetesMed and medication - Note: Using A1C and not A1Cresult

cross_tab = pd.crosstab(df['diabetesMed'], df['A1C'])

# Convert to string with better formatting
formatted_cross_tab = cross_tab.to_string(
     formatters={'col_name': lambda x: f'{x:.2f}'}
)

# Use background gradient for better visualization
styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

# Display the styled cross-tabulation
display(styled_cross_tab)

In [14]:
# Get the frequency of each unique value in the 'A1Cresult' column
frequency = df['A1Cresult'].value_counts()

# Print the frequency distribution
print(frequency)

# Print the number of missing values
print(f"Missing values in 'A1Cresult': {df['A1Cresult'].isnull().sum()}")

# Get the frequency of each unique value in the 'diabetesMed' column
frequency = df['diabetesMed'].value_counts()

# Print the frequency distribution
print(frequency)

# Print the number of missing values
print(f"Missing values in 'diabetesMed': {df['diabetesMed'].isnull().sum()}")

A1Cresult
>8      7304
Norm    4600
>7      3484
Name: count, dtype: int64
Missing values in 'A1Cresult': 56130
diabetesMed
Yes    54319
No     17199
Name: count, dtype: int64
Missing values in 'diabetesMed': 0

In [15]:
!pip install researchpy #Install if not already installed
import researchpy as rp
import warnings

Collecting researchpy
  Downloading researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from researchpy) (1.14.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from researchpy) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from researchpy) (2.2.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (from researchpy) (0.14.4)
Requirement already satisfied: patsy in /usr/local/lib/python3.11/dist-packages (from researchpy) (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->researchpy) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->researchpy) (2025.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels->researchpy) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->researchpy) (1.17.0)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6

In [16]:
# Suppress the specific FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning, lineno=146)  # Specify lineno=146

# Perform the chi-square test and get the results table with percentages
crosstab, results, expected = rp.crosstab(df['diabetesMed'], df['A1Cresult'],
                               test='chi-square', expected_freqs=True,
                               prop='col')  # prop='cell' for cell percentages

# Print the cross-tabulation with percentages
print(crosstab)

# Print the chi-square test results
print(results)

            A1Cresult
A1Cresult          >7      >8    Norm     All
diabetesMed
No              20.72   10.64   26.52   17.67
Yes             79.28   89.36   73.48   82.33
All            100.00  100.00  100.00  100.00
                Chi-square test   results
0  Pearson Chi-square ( 2.0) =   518.3587
1                    p-value =     0.0000
2                 Cramer's V =     0.1835

In [17]:
# Suppress the specific FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning, lineno=146)  # Specify lineno=146

#Subset the data
subset_df = df[df['A1Cresult'].notna()]

# Perform the chi-square test and get the results table with column percentages
crosstab, results, expected = rp.crosstab(subset_df['diabetesMed'], subset_df['A1Cresult'],
                               test='chi-square', expected_freqs=True,
                               prop='col')  # prop='col' for column percentages

# Print the cross-tabulation with column percentages
print(crosstab)

# Print the chi-square test results
print(results)
#Print the expected frequencies
print(expected)

            A1Cresult
A1Cresult          >7      >8    Norm     All
diabetesMed
No              20.72   10.64   26.52   17.67
Yes             79.28   89.36   73.48   82.33
All            100.00  100.00  100.00  100.00
                Chi-square test   results
0  Pearson Chi-square ( 2.0) =   518.3587
1                    p-value =     0.0000
2                 Cramer's V =     0.1835
               A1Cresult
A1Cresult             >7           >8         Norm
diabetesMed
No            615.609306  1290.588511   812.802184
Yes          2868.390694  6013.411489  3787.197816

In [18]:
# Create the cross-tabulation
cross_tab = pd.crosstab(df['diabetesMed'], df['A1C'])

# Calculate column percentages
col_percentages = cross_tab.div(cross_tab.sum(axis=0), axis=1) * 100

# Concatenate counts and percentages
cross_tab_with_percentages = cross_tab.astype(str) + ' (' + col_percentages.round(2).astype(str) + '%)'

# Print the cross-tabulation with counts and percentages
print(cross_tab_with_percentages)

A1C                     >7             >8        Missing           Norm
diabetesMed
No            722 (20.72%)   777 (10.64%)  14480 (25.8%)  1220 (26.52%)
Yes          2762 (79.28%)  6527 (89.36%)  41650 (74.2%)  3380 (73.48%)

In [19]:
# SUBSETTING ON READMISSION - WHETHER WITHIN 30 DAYS OR MORE THAN 30 DAYS
df['Readmission'] = df['readmitted'].apply(lambda x: 1 if x in ['<30', '>30'] else 0)

# Change labels to 'Readmitted' and 'Not Readmitted'
df['Readmission'] = df['Readmission'].map({1: 'Readmitted', 0: 'Not Readmitted'})

In [20]:
# Assuming your DataFrame is named 'subset_df' and the columns are 'readmission' and 'readmitted'
cross_tab = pd.crosstab(df['Readmission'], df['readmitted'])

styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

display(styled_cross_tab)

In [21]:
# Create your cross-tabulation (example)
cross_tab = pd.crosstab(df['Readmission'], df['race'])

# Convert to string with better formatting
formatted_cross_tab = cross_tab.to_string(
    # formatters={'col_name': lambda x: f'{x:.2f}'}  # Optional: format specific columns
)

styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

display(styled_cross_tab)

In [22]:
# Create your cross-tabulation (example)
cross_tab = pd.crosstab(df['Readmission'], df['number_emergency'])

# Number of emergency visits of the patient in the year preceding the encounter - important?
# Convert to string with better formatting
formatted_cross_tab = cross_tab.to_string(
    # formatters={'col_name': lambda x: f'{x:.2f}'}  # Optional: format specific columns
)

styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

display(styled_cross_tab)

In [23]:
# Create your cross-tabulation (example)
cross_tab = pd.crosstab(df['admission_type_id'], df['Readmission'])

# Number of emergency visits of the patient in the year preceding the encounter - important?
# Convert to string with better formatting
formatted_cross_tab = cross_tab.to_string(
     formatters={'col_name': lambda x: f'{x:.2f}'}  # Optional: format specific columns
)

# Print the formatted cross-tabulation
print(formatted_cross_tab)

styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

display(styled_cross_tab)

Readmission        Not Readmitted  Readmitted
admission_type_id
1                           21778       14712
2                            7806        5222
3                            9042        4875
4                               6           3
5                            1870        1304
6                            2261        2327
7                              21           0
8                             201          90

In [24]:
# Create your cross-tabulation with feature levels as rows and outcome as columns
cross_tab = pd.crosstab(df['admission_type_id'], df['readmitted'])

# Get the actual values used for 'NO' and 'YES'
readmission_values = subset_df['readmitted'].unique()
no_value = readmission_values[0] # Assuming 'NO' is the first unique value
yes_value = readmission_values[1] # Assuming 'YES' is the second unique value

# Reorder columns based on the actual 'NO' and 'YES' values
cross_tab = cross_tab.reindex(columns=[no_value, yes_value], fill_value=0)

# Apply background gradient for better visualization (optional)
styled_cross_tab = cross_tab.style.background_gradient(cmap='viridis')

# Display the styled cross-tabulation (optional)
display(styled_cross_tab)

In [27]:
# Create a cross-tabulation of race and gender
race_gender_counts = pd.crosstab(df['race'], df['gender'])

display(race_gender_counts)

gender           Female   Male  Unknown/Invalid
race
?                   981    965                2
AfricanAmerican    7829   5058                0
Asian               249    248                0
Caucasian         27565  25926                0
Hispanic            812    705                0
Other               589    588                1